.blog {
	padding: 33px 0 70px;
	text-align: center;
	color: white;
	background-color: black;
	background-image: url("../../img/blog-bg.jpg");
	background-repeat: repeat;
}

.blog .container {
	position: relative;
}

.blog input {
  display: none;
}

input[type="radio"]:nth-of-type(1):checked ~ .blog__controls .blog__control:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .blog__controls .blog__control:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .blog__controls .blog__control:nth-of-type(3) {
	background-color: white;
}

input[type="radio"]:nth-of-type(1):checked ~ .blog__items .blog__item:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .blog__items .blog__item:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .blog__items .blog__item:nth-of-type(3) {
  display: block;
}

.blog__item {
	padding: 0 150px;
	display: none;
}

.blog__item p {
	margin-top: 12px;
}

.blog__post {
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 30px;	
	font-weight: 300;
}

.blog__author {
	position: absolute;
	bottom: -35px;	
	right: 540px;

	margin-right: 58px;
	padding-right: 12px;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	font-style: normal;
}

.blog__controls {
	position: absolute;
	bottom: -34px;	
	right: 524px;

	padding-top: 4px;
	padding-bottom: 4px;
	width: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.blog__control {
	width: 8px;
	height: 8px;
	margin: 0 6px;
	border: 1px solid white;
	border-radius: 100%;
	cursor: pointer;
	-webkit-transition: background-color 150ms ease-out;
	transition: background-color 150ms ease-out;
}

.blog__control:hover {
	background-color: white;
}