.support {
	margin-bottom: 95px;
}

.support__items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

.support__item {
	width: 225px;
}

.support__icon {
	position: relative;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	border-radius: 50%;
}

.support__icon::after {
	position: absolute;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	font-family: "FontAwesome";
	font-size: 28px;
	color: white;
}

.support__icon.icon1 {
	background-color: #f1c40f;
}

.support__icon.icon2 {
	background-color: #0faff1;
}

.support__icon.icon3 {
	background-color: #95a5a6;
}

.support__icon.icon4 {
	background-color: #f1540f;
}

.support__icon.icon1::after {
	content: "\f0e7";
}

.support__icon.icon2::after {
	content: "\f0c2";
}

.support__icon.icon3::after {
	content: "\f047";
}

.support__icon.icon4::after {
	content: "\f086";
}

.support__title {
	margin-top: 21px;
	margin-bottom: 7px;
	font-size: 18px;
	font-weight: 900;
	text-transform: capitalize;
	color: #303030;
}

.support__description {
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
	color: #7e7e7e;
}